.button:focus {
    outline: none;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: white;
}

.green
{
    color:#00e600 ;
}
.yellow
{
    color:#ffdb4d ;
}
.red
{
    color:#e62e00 ;
}