.button:focus {
    outline: none;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: white;
}

a {
    color: white;
}


#percentage_label {
    color:white;
}

#percentage {
    color: white;
}